.categories {
    display: flex;
    flex-wrap: wrap; /* NEW */
  }
  
  .inner {
    width: 200px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    line-height: 5rem;
    background-color: #efefef;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    //pointer-events: none;

    & > * {
        pointer-events: auto;
    }
  }
  
  .categories-item {
    margin: 5px; /* NEW */
    background-color: transparent;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    position: relative;
  }
//   .placeholder {
//     flex: 1 0 1rem; /* NEW */
//     margin-right:5rem;
//     margin: 5px; /* NEW */
//     background-color: white;
//     height: 5rem;
//     text-align: center;
//     line-height: 5rem;
//     border: 1px;
//   }
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  // ================================================================ //
// Cards //
// ================================================================ //
// Item
global-card,  
.dtx-card {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  padding: 10px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  padding-left: 1.8rem;
  align-items: center;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: 300px;
  height: 100px;
  border: solid 3px #ccc;
  font-size: 30pt;
  font-weight: bold;
  border-radius: 5px;
  margin: 0px 0px 5px 5px;
  position: relative;
  //pointer-events: none;
}


.dtx-card:last-child {
  border: none;
}

.dtx-card:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
// ================================================================ //
// Container //
// ================================================================ //

.dtx-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
  padding:24px
}

// ================================================================ //
// Drag handle//
// ================================================================ //

.dtx-handle {
  color: #ccc;
  pointer-events: auto;
  cursor:move;
  align-self: flex-start;
  align-self: center;
}

// ================================================================ //
// Angular classes //
// ================================================================ //

.cdk-drop-list {
  display: flex;
  padding-right: 15px;
  padding-bottom: 15px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(161, 41, 41, 0.2),
    0 8px 10px 1px rgba(141, 58, 58, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-custom-placeholder {
  opacity: 0.5;
  background-color: cyan;
  

//   margin-right:15px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// ================================================================ //
// Media Queries //
// ================================================================ //
 
@media only screen and (max-width: 984px) {
  .dtx-container {
      padding: 0 36px;
  }
}
 