<div #contenedor class="categories" cdkDropListGroup>
	<ng-container *ngFor="let item of items;let i=index">
		<div class="categories-item" cdkDropList  cdkDropListOrientation="horizontal"
			[cdkDropListData]="{item:item,index:i}" (cdkDropListDropped)="drop($event)">
			<div class="inner" cdkDrag>
				<div class="example-custom-placeholder" *cdkDragPlaceholder></div>
				{{item}}
			</div>
		</div>
	</ng-container>
</div>
{{items|json}}



<!-- <div #dropListContainer class="categories" cdkDropListGroup>
	<div *ngFor="let item of items;let i=index">
		<div class="categories-item" cdkDropList  
			[cdkDropListData]="{item:item,index:i}" (cdkDropListDropped)="drop($event)">
      

        <div cdkDrag
        class="inner">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        

        {{ item }}

        <svg class="dtx-handle" width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
        
      </div>
		</div>

	</div>
</div>
{{items|json}} -->